*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-image: linear-gradient(to top, rgba(31, 239, 211, 0.454), rgba(3, 1, 65, 0.836));
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px
}

.logo{
    color: white;
    font-size: 50px;
    font-family:'Trebuchet MS';
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}