<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="../static/styles/styleSymptom.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passing Variables</title>
</head>
<body>
    <div class="main">
        <div class="icon">
            <h2 class="logo">MedMobile</h2>
        </div>
        <div class="topnav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/sympCheck">Symptom Checker</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/login">Logout</a></li>
            </ul>
        </div>
        <div class="search">
            <br>
            <form>
                <label>Search Symptoms</label>
                <input type='text' name="request" id='request'>
                <button type="button" onclick="sendUserInfo()"> Submit</button><br>
                <input type='radio' id='disease' name='requestType' value="searchDisease" checked>
                <label for="disease">Search Diseases</label>
                <input type='radio' id='symptom' name='requestType' value="searchSymptom">
                <label for="symptom">Search Symptom</label>
            </form>
            </br>
            <div class="row">
                <div class="column" onclick="openTab('b1');">
                    <div class="card">
                        <img src="/static/head.png" alt="Avatar" style="width:200px" class="center">
                        <div class="container">
                            <h4><b>Hello</b></h4>
                            <p>See symptoms from this part of the body </p>
                        </div>
                    </div>
                </div>
                <div class="column" onclick="openTab('b2');">
                    <div class="card">
                        <img src="/static/arms.webp" alt="Avatar" style="width:110px" class="center">
                        <div class="container">
                            <h4><b>Arms & Hands</b></h4>
                            <p>See symptoms from this part of the body </p>
                        </div>
                    </div>
                </div>
                <div class="column" onclick="openTab('b3');">
                    <div class="card">
                        <img src="/static/legs.png" alt="Avatar" style="width:350px" class="center">
                        <div class="container">
                            <h4><b>Legs & Feet</b></h4>
                            <p>See symptoms from this part of the body </p>
                        </div>
                    </div>
                </div>
                <div class="column" onclick="openTab('b4');">
                    <div class="card">
                        <img src="/static/torso.PNG" alt="Avatar" style="width:110px" class="center">
                        <div class="container">
                            <h4><b>Arms & Hands</b></h4>
                            <p>Select symptoms from this part of the body </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="b1" class="containerTab" style="display:none;background:green">
              <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
              <h2>Box 1</h2>
              <p>Lorem ipsum..</p>
            </div>
            <div id="b2" class="containerTab" style="display:none;background:blue">
              <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
              <h2>Box 2</h2>
              <p>Lorem ipsum..</p>
            </div>
            <div id="b3" class="containerTab" style="display:none;background:red">
              <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
              <h2>Box 3</h2>
              <p>Lorem ipsum..</p>
            </div>
            <div id="b4" class="containerTab" style="display:none;background:yellow">
              <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
              <h2>Box 3</h2>
              <p>Lorem ipsum..</p>
            </div>
        </div>
    </div>
</body>
<script>
    function sendUserInfo(){
        let arg=document.getElementById('request').value
        let dos =document.querySelector('input[name="requestType"]:checked').value;

        console.log(arg)
        const request = new XMLHttpRequest()
        request.open('GET', `/searchDB${JSON.stringify([arg, dos])}`)
        request.send();

        fetch(`/searchDB${JSON.stringify([arg, dos])}`)
         .then(function (response) {
          return response.json();
        }).then(function (text) {
          console.log('GET response:');
          console.log(text);
        });
    }
    function openTab(tabName) {
          var i, x;
          x = document.getElementsByClassName("containerTab");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          document.getElementById(tabName).style.display = "block";
    }

</script>
</html>