<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="../static/styles/styleSymptom.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passing Variables</title>
</head>
<body>
    <div class="main">
        <div class="icon">
            <h2 class="logo">MedMobile</h2>
        </div>
        <div class="topnav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/sympCheck">Symptom Checker</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/login">Logout</a></li>
            </ul>
        </div>
        <div class="search">
            <br>
            <form>
                <label>Search Symptoms</label>
                <input type='text' name="request" id='request'>
                <button type="button" onclick="sendUserInfo()"> Submit</button><br>
                <input type='radio' id='disease' name='requestType' value="searchDisease" checked>
                <label for="disease">Search Diseases</label>
                <input type='radio' id='symptom' name='requestType' value="searchSymptom">
                <label for="symptom">Search Symptom</label>
            </form>
            </br>
            <div class="row">
                <div class="column" onclick="openTab('b1');">
                    <div class="card">
                        <img src="/static/head.png" alt="Avatar" style="width:200px" class="center">
                        <div class="container">
                            <h4><b>Head</b></h4>
                            <p>See symptoms from this part of the body </p>
                        </div>
                    </div>
                </div>
                <div class="column" onclick="openTab('b2');">
                    <div class="card">
                        <img src="/static/arms.webp" alt="Avatar" style="width:110px" class="center">
                        <div class="container">
                            <h4><b>Arms & Hands</b></h4>
                            <p>See symptoms from this part of the body </p>
                        </div>
                    </div>
                </div>
                <div class="column" onclick="openTab('b3');">
                    <div class="card">
                        <img src="/static/legs.png" alt="Avatar" style="width:350px" class="center">
                        <div class="container">
                            <h4><b>Legs & Feet</b></h4>
                            <p>See symptoms from this part of the body </p>
                        </div>
                    </div>
                </div>
                <div class="column" onclick="openTab('b4');">
                    <div class="card">
                        <img src="/static/torso.PNG" alt="Avatar" style="width:200px" class="center">
                        <div class="container">
                            <h4><b>Torso</b></h4>
                            <p>Select symptoms from this part of the body </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="b1" class="containerTab" style="display:none;background:grey">
              <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
              <h2>Possible Head Symptoms:</h2>
                <ul style="list-style-type:circle">
                    <li>Headache</li><br>
                    <li>Loss of Balance</li><br>
                    <li>Spinning Movements</li><br>
                    <li>Congestion</li><br>
                    <li>Runny Nose</li><br>
                    <li>High Fever</li><br>
                    <li>Cough</li><br>
                    <li>Continuous Sneezing</li><br>
                    <li>Neck Pain</li><br>
                    <li>Patches in Throat</li><br>
                    <li>Drying Lips</li><br>
                    <li>Blurred Vision</li><br>
                    <li>Puss Filled Pimples</li><br>
                    <li>More...</li><br>
                </ul>
            </div>
            <div id="b2" class="containerTab" style="display:none;background:teal">
              <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
              <h2>Possible Arm & Hand Symptoms:</h2>
                <ul>
                    <li>Muscle Weakness</li><br>
                    <li>Skin Rash</li><br>
                    <li>Itching</li><br>
                    <li>Joint Pain</li><br>
                    <li>Blister</li><br>
                    <li>Skin Peeling</li><br>
                    <li>Bruising</li><br>
                    <li>Brittle Nails</li><br>
                    <li>More...</li><br>
                </ul>
            </div>
            <div id="b3" class="containerTab" style="display:none;background:grey">
              <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
              <h2>Possible Leg & Feet Symptoms:</h2>
                <ul>
                    <li>Muscle Weakness</li><br>
                    <li>Skin Rash</li><br>
                    <li>Itching</li><br>
                    <li>Joint Pain</li><br>
                    <li>Blister</li><br>
                    <li>Skin Peeling</li><br>
                    <li>Bruising</li><br>
                    <li>Swollen Legs</li><br>
                    <li>Knee Pain</li><br>
                    <li>Painful Walking</li><br>
                    <li>Brittle Nails</li><br>
                    <li>More...</li><br>
                </ul>
            </div>
            <div id="b4" class="containerTab" style="display:none;background:teal">
              <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
              <h2>Possible Torso Symptoms:</h2>
                <ul>
                    <li>Vomiting</li><br>
                    <li>Abdominal Pain</li><br>
                    <li>Distention</li><br>
                    <li>Nausea</li><br>
                    <li>Weight Loss</li><br>
                    <li>Weight Gain</li><br>
                    <li>Dehydration</li><br>
                    <li>Diarrhea</li><br>
                    <li>Cramps</li><br>
                    <li>More...</li><br>
                </ul>
            </div>
        </div>
    </div>
</body>
<script>
    function sendUserInfo(){
        let arg=document.getElementById('request').value
        let dos =document.querySelector('input[name="requestType"]:checked').value;

        console.log(arg)
        const request = new XMLHttpRequest()
        request.open('GET', `/searchDB${JSON.stringify([arg, dos])}`)
        request.send();

        fetch(`/searchDB${JSON.stringify([arg, dos])}`)
         .then(function (response) {
          return response.json();
        }).then(function (text) {
          console.log('GET response:');
          console.log(text);
        });
    }
    function openTab(tabName) {
          var i, x;
          x = document.getElementsByClassName("containerTab");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          document.getElementById(tabName).style.display = "block";
    }

</script>
</html>