*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-image: linear-gradient(to top, rgba(31, 239, 211, 0.454), rgba(3, 1, 65, 0.836));
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.icon{
    width: 100%;
    height: 20px;
    background-color: #333;
}

.logo{
    color: white;
    font-size: 50px;
    font-family:'Trebuchet MS';
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

ul{
    list-style-type: none;
    padding-top: 50px;
}

li{
    display: inline;
}

.topnav {
    background-color: #333;
    width: 100%;
    height: 100px;
    padding-left: 10px;

}
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }
