*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-image: linear-gradient(to top, rgba(31, 239, 211, 0.454), rgba(3, 1, 65, 0.836));
    background-position: center;
    background-size: cover;
    height: 160vh;
}

.logout{
  background-color: #333;
  width: 100%;
  height: 20px;
}
.logout a{
    color: #f2f2f2;
    padding-right: 10px;
    text-decoration: none;
    font-size: 17px;
}

.icon{
    width: 100%;
    height: 30px;
    background-color: #333;
}

.logo{
    color: white;
    font-size: 60px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

ul{
    list-style-type: none;
    padding-top: 50px;
}

li{
    text-align: right;
}

.topnav {
    background-color: #333;
    width: 100%;
    height: 100px;
    padding-left: 10px;

}
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .currentNews{
    color: white;
    font-size: 50px;
    font-family:  'Lucida Sans', Arial, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  .image1{
    padding-left: 20px;
    padding-bottom: 5px;
    height: 50px;
    width: 650px;
  }

  .image1Caption a{
    color: #333;
    font-size: 20px;
    font-family:  sans-serif;
    padding-left: 10px;
    float: left;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 500px;
  }

  .image2 {
    width: 30px;
    height: 10px;
    float: right;
    padding-left: 10px;
  }

  .image2Caption a{
    width: 300px;
    color: #333;
    font-size: 10px;
    float: left;
    font-family:  sans-serif;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 60px;
  }

  .image3 {
    width: 30px;
    height: 10px;
    float: right;
    padding-left: 10px;
  }

  .image3Caption a{
    width: 300px;
    color: #333;
    font-size: 10px;
    float: left;
    font-family:  sans-serif;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 60px;
  }

  
